apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-nodered
  namespace: node-red
spec:
  tls:
  - hosts:
    - "nodered.${domain}"
#   secretName: internal-com-tls    # Vault issued
    secretName: nodered-tls-prod    # LetEncrypt issued rather than Vault
  rules:
  - host: "nodered.${domain}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nodered-internal
            port:
              number: 80
  ingressClassName: nginx
