apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-red
resources:
  - namespace.yaml
  - pvc.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - loadbalancer.yaml
##  - cert-issuer.yaml
##  - cert.yaml
  - service.yaml
  - ingress.yaml
  - netpol
  - secrets
  - pki
