# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
namespace: homeassistant
resources:
  - namespace.yaml
  - home-assistant-stack.yaml
  - lb.yaml
  - allow-local-egress-unifi-netpol.yaml
  - allow-local-egress-dns-netpol.yaml
  - allow-ext-egress-netpol.yaml
  - allow-ext-egress-components-netpol.yaml
  - deny-all-egress-netpol.yaml
