# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - standard-install.yaml   # https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
