# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# namespace not specified as it's generated via jsonnet and kustomize will override with namespace mutation errors
resources:
  - 0namespace-namespace.yaml
  - prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  - prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  - prometheus-operator-0prometheusCustomResourceDefinition.yaml
  - prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  - prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  - prometheus-operator-0thanosrulerCustomResourceDefinition.yaml
  - prometheus-operator-clusterRole.yaml
  - prometheus-operator-clusterRoleBinding.yaml
  - prometheus-operator-deployment.yaml
  - prometheus-operator-service.yaml
  - prometheus-operator-serviceAccount.yaml
