# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
resources:
  - ../common/cilium
  - ../common/metallb-15
  - metallb.yaml
  - ../common/nfs-storage
  - ../common/vault
  - vault-sa-secret.yaml
  - ../common/external-secrets
  - ../common/certmanager-1.12
  - ../common/ingress
  - ../common/authentik
  - authentik-vaultissuer-role.yaml
  - ../common/monitoring/setup
  - ../common/monitoring
  - monitoring-vaultissuer-role.yaml  # move to common once cluster1 upgraded
  - monitoring-vault-secret-store.yaml
  - monitoring-vault-secret.yaml
#  - ../common/mongodb
  - ../common/influxdb
  - ../common/loki
#  - ../common/starboard
#  - ../common/tetragon
#  - ../common/neuvector
  - ../common/falco
#  - ../common/grafana-mcp
#  - grafana-mcp-vault-secret-store.yaml
#  - grafana-mcp-vault-secret.yaml
patchesStrategicMerge:
  - cert-issuer-authentik.yaml
  - cert-issuer-monitoring.yaml
