
[auth.anonymous]
enabled = false

[auth.basic]
enabled = false

[session]
provider = memory

[smtp]
enabled = true
from_address = myemail@gmail.com
from_name = Grafana Alert
host = smtp-server.monitoring.svc:25
password = 
skip_verify = true
user = 
