# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
resources:
  - namespace.yaml
  - ingress-nginx-stack.yaml

#patches:
#  - patch-controller-config.yaml # runs slow on Pi's
