# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
namespace: crypto-automation
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - vault-secret-store.yaml
  - external-secrets.yaml
  - deny-all-egress-netpol.yaml
  - allow-local-egress-dns-netpol.yaml
  - allow-local-egress-netpol.yaml
