apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common/pi-temp-agent
  - ../common/rsyslog
  - ../common/mqtt
  - mqtt-vault-secret-store.yaml
  - mqtt-vault-secret.yaml
  - ../common/node-red
  - nodered-vault-secret-store.yaml
  - nodered-vault-secret.yaml
#  - nodered-vaultissuer-role.yaml
  - ../common/adguard
  - ../common/jupyternb
#  - ../common/minecraft
#  - ../common/crypto-automation
#  - ../common/unifi-controller
  - ../common/homeassistant
#  - ../common/zigbee2mqtt
#  - ../common/freeradius
#  - ./node-red-dev
#  - ../common/frigate
#  - frigate-vault-secret-store.yaml
#  - ../common/torrent
patchesStrategicMerge:
#  - cert-issuer-nodered.yaml
  - cert-issuer-adguard.yaml
