apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common/pi-temp-agent
  - ../common/rsyslog
  - ../common/mqtt
  - mqtt-vault-secret-store.yaml
  - mqtt-vault-secret.yaml
  - ../common/node-red
#  - ../common/adguard
  - ../common/jupyternb
  - jupyternb-vaultissuer-role.yaml
#  - ../common/minecraft
#  - ../common/crypto-automation
#  - ../common/unifi-controller
  - ../common/homeassistant
#  - ../common/zigbee2mqtt
#  - ../common/freeradius
#  - ../common/frigate
#  - frigate-vault-secret-store.yaml
#  - ../common/torrent
patchesStrategicMerge:
#  - cert-issuer-adguard.yaml
  - cert-issuer-jupyternb.yaml
