apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common/metallb
  - metallb.yaml
  - ../common/nfs-storage
  - ../common/vault
  - vault-sa-secret.yaml
  - ../common/monitoring/setup
  - ../common/monitoring
  - monitoring-vaultissuer-role.yaml  # move to common once cluster1 upgraded
  - monitoring-vault-secret-store.yaml
  - monitoring-vault-secret.yaml
#  - ../common/mongodb
  - ../common/influxdb
#  - ../common/apparmor
  - ../common/vector
  - ../common/loki
  - ../common/external-secrets
#  - ../common/certmanager-1.12
  - ../common/ingress
#  - ../common/flux-system
#  - ../common/trivy-system
  - ../common/cilium
#  - ../common/tetragon   # supports ARM but needs min kernel 5.19
#  - ../common/authentik
#  - ../common/containerescapes
#  - ../common/mariadb-operator
#  - ../common/grafana-mcp
# patchesStrategicMerge:
#  - cert-issuer-authentik.yaml
#  - cert-issuer-monitoring.yaml
