# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common/metallb
  - metallb.yaml
  - ../common/nfs-storage
  - ../common/vault
  - ../common/monitoring/setup
  - ../common/monitoring
  - monitoring-vaultissuer-role.yaml  # move to common once cluster1 upgraded
  - monitoring-vault-secret-store.yaml
  - monitoring-vault-secret.yaml
#  - ../common/mongodb
  - ../common/influxdb
#  - ../common/apparmor
  - ../common/vector
  - ../common/loki
  - ../common/external-secrets
  - ../common/certmanager-1.19
  - ../common/ingress
#  - ../common/flux-system
  - ../common/trivy-system
#  - ../common/tracee-system # Needs BTF support
  - ../common/cilium
  - ../common/tetragon   # Need BTF support
#  - ../common/authentik
#  - ../common/containerescapes
#  - ../common/mariadb-operator
#  - ../common/grafana-mcp
#  - ../common/neuvector
patchesStrategicMerge:
#  - cert-issuer-authentik.yaml
  - cert-issuer-monitoring.yaml
  - grafana-deployment-patch.yaml
