# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
namespace: freeradius
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - loadbalancer.yaml
#  - deny-all-egress-netpol.yaml
  - external-secrets.yaml
  - vault-secret-store.yaml
configMapGenerator:
- name: clients-config
  files:
    - clients.conf
  options:
    labels:
      kustomize.toolkit.fluxcd.io/substitute: disabled
