apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-red
  namespace: node-red-dev
  labels:
    app: node-red
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-red
  template:
    metadata:
      labels:
        app: node-red
    spec:
      serviceAccountName: nodereddev
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: node-red
        image: mthorley/node-red:0102c2408426bf519803f2842889f093c8c21772
        imagePullPolicy: Always
        ports:
        - containerPort: 1880
          name: node-red-ui
#        securityContext:
#          privileged: true
        volumeMounts:
        - name: node-red-data
          mountPath: /data
        env:
        - name: HUE_BRIDGE_IP
          value: 192.168.1.191
        - name: HUE_TOKEN
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: hue-token
        - name: NODE_RED_ENABLE_PROJECTS
          value: "true"
        - name: MQTT_IP
          value: "${mqtt_ip}"
        - name: MQTT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: mqtt-password
        - name: SONOS_DININGROOM_R_IP
          value: 192.168.1.31
        - name: SONOS_DININGROOM_R
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: sonos-diningroom-r
        - name: SONOS_DININGROOM_L_IP
          value: 192.168.1.26
        - name: SONOS_DININGROOM_L
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: sonos-diningroom-l
        - name: SONOS_WHISKYROOM_L
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: sonos-whiskyroom-l
        - name: SONOS_WHISKYROOM_R
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: sonos-whiskyroom-r
        - name: UNIFI_USER
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: unifi-user
        - name: UNIFI_PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: unifi-password
        - name: ZEN_WIFI_USER
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: zen-wifi-user
        - name: ZEN_WIFI_PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-nodereddev
              key: zen-wifi-password
        - name: TZ
          value: "${cluster_tz}"
      volumes:
      - name: node-red-data
        persistentVolumeClaim:
          claimName: node-red-claim
