apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-red-dev
generatorOptions:
  disableNameSuffixHash: true
resources:
  - namespace.yaml
  - pvc.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

components:
  - ../../../components/app-vars
  - ../../../components/vault-secrets
#  - ../../../components/vault-pki-issuer
  - ../../../components/letsencrypt-pki-issuer

configMapGenerator:
  - name: app-config
    literals:
      - APP=nodereddev
      - ACME_EMAIL=matt.thorley@gmail.com
