apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-red-dev
generatorOptions:
  disableNameSuffixHash: true
resources:
  - namespace.yaml
  - pvc.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

components:
  - ../../../components/vault-secrets
#  - ../../../components/vault-pki-issuer
  - ../../../components/letsencrypt-pki-issuer

configMapGenerator:
  - name: app-config
    literals:
      - APP=nodereddev
      - ACME_EMAIL=matt.thorley@gmail.com

vars:
  - name: APP
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: app-config
    fieldref:
      fieldpath: data.APP
  - name: ACME_EMAIL
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: app-config
    fieldref:
      fieldpath: data.ACME_EMAIL
