apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-red-dev

resources:
  - namespace.yaml
  - pvc.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

components:
  - ../../../components/secrets-eso-vault
  - ../../../components/pki-certman-letsencrypt
